.boardCard {
  width: 20em;
  max-width: 500px;
  height: 100%;
  margin: 2em;
  // background-image: url(https://previews.123rf.com/images/grigory_bruev/grigory_bruev1404/grigory_bruev140400137/27832717-red-oriental-persian-carpet-texture-background.jpg);
}